@model Roomager.Web.Viewmodels.PaymentsViewModels.PaymentsRecordViewModel

@{
    ViewData["Title"] = "DeleteRecord";
}

<div class="container">
    <form asp-action="DeleteRecord" method="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4><b>Delete this Record?</b></h4>

                        <div class="form-group" style="padding-top: 10px;">
                            <input type="submit" value="Yes" class="btn btn-danger" style="width: 40%"/>                            
                            <a asp-action="Index" asp-controller="PaymentsManager" class="btn btn-primary" style="width: 40%">Cancel</a>
                        </div>

                    </div>
                </div>
            </div>            
        </div>

        <div class="row">
            
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><b>Payment Record</b></h4>                        
                    </div>
                    
                    <div class="panel-body">

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.AddDate"></label>
                            <input asp-for="PaymentsRecord.AddDate" readonly="readonly" type="date" class="form-control">
                        </div>

                        <hr>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.EnergyCost"></label>
                            <input asp-for="PaymentsRecord.EnergyCost" readonly="readonly" type="number" class="form-control">
                        </div>

                        <hr>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.ColdWaterCost"></label>
                            <input asp-for="PaymentsRecord.ColdWaterCost" readonly="readonly" type="number" class="form-control">
                        </div>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.HotWaterCost"></label>
                            <input asp-for="PaymentsRecord.HotWaterCost" readonly="readonly" type="number" class="form-control">
                        </div>

                        <hr>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.GasCost"></label>
                            <input asp-for="PaymentsRecord.GasCost" readonly="readonly" type="number" class="form-control">
                        </div>

                        <hr>

                        <div class="form-group ">
                            <label asp-for="PaymentsRecord.NumberOfTenants"></label>
                            <input asp-for="PaymentsRecord.NumberOfTenants" readonly="readonly" type="number" class="form-control">
                        </div>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.TotalCost"></label>
                            <input asp-for="PaymentsRecord.TotalCost" readonly="readonly" type="number" class="form-control">
                        </div>

                        <div class="form-group form-inline">
                            <label asp-for="PaymentsRecord.CostPerPerson"></label>
                            <input asp-for="PaymentsRecord.CostPerPerson" readonly="readonly" type="number" class="form-control">
                        </div>

                        <hr>

                        <div class="form-group ">
                            <label asp-for="PaymentsRecord.Comment"></label>
                            <textarea asp-for="PaymentsRecord.Comment" readonly="readonly" class="form-control"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>