@{
    ViewData["Title"] = "Manager Home Page";
}

<head>
    <style>
        .panel-heading {
            background-color: #222;
            color: red;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: #222; border-color: #222">Apartments Manager</div>
                    <div class="panel-body">
                        Here you can manage your apartments.
                        <div>
                            <a class="btn btn-default" style="display: block; margin-top: 15px"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: #222; border-color: #222">Payments Manager</div>
                    <div class="panel-body">
                        Here you can manage payments for your apartment.
                        <div>
                            <a asp-action="Index" asp-controller="PaymentsManager" class="btn btn-default" style="display: block; margin-top: 15px">Click</a>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: #222; border-color: #222">Tenants Manager</div>
                    <div class="panel-body">
                        This module helps organize tenants, their contracts etc.
                        <div>
                            <a class="btn btn-default" style="display: block; margin-top: 15px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>